<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mostPopularToken</key>
	<string>FQiRAyblED3gWDniasNBguaGGNZek8Z0</string>
	<key>baseUrl</key>
	<string>http://api.nytimes.com</string>
</dict>
</plist>
